{%extends 'all_gallerys/base.html'%}
{% block content %}
{{block.super}}
<div class="container-fluid" id="location-container">
  <div class="row" id="locationrow">
    {% for gallery_item in locations %}
      <div class="col-md-6" id="column4">
        <div class="well">
        <h2 class="text-centre">{{ gallery_item.title }}</h2>
            <img src="{{gallery_item.image_upload.url}}" class="image-responsive" alt="Image" height="400px" width="500px">  
          <p>This photo was taken in:{{gallery_item.location}}</p>
        </div>
      </div>
      <div class="modal fade" id="{{gallery_item.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
                <div class="modal-content" id="modal">
                 <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLongTitle">{{ gallery_item.title }}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                 </div>
                 <div class="modal-body">
                 <img src="{{gallery_item.image_upload.url}}" class="image-responsive" alt="Image"  height="700px" width="700px">
                 </div>
                 <div class="modal-footer">
                 <h2 class="text-centre"> Title:{{ gallery_item.title }}</h2>
                 <h2 class="text-centre"> Name:{{ gallery_item.image_name }}</h2>
                 <hr>
                 <div class="row">
                       <div class="col-md-2">
                 <form>
                 <a onclick="copyLink({gallery_item,id})"><button type="button" class="btn btn-outline-dark my-2 my-sm-0 link-btn">{{gallery_item.image_upload.ur}}Copy this image</button></a>
                 <input class="form-control" type="text" value="http://127.0.0.1:8000{{gallery_item.image_upload.url}}" id="thislinkhere-{{gallery_item.id}}">
                 </a>
                 </form>
             </div>
            </div>
                 </div>

            </div>
            </div>
          </div>

      {% empty %}
      <div class="row">
      <h2 class="text-centre">There is No gallery item here</h2>    
      </div>
    {% endfor %}
   </div>
</div>
{% endblock %}